<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ '/css/general/setting.css' | | asset_url}}">
    lin
  </head>
  <body>
    <div class="offer-msg">
      <p class="margin-zero">Midseason Sale: 20% Off — Auto Applied at Checkout — Limited Time Only
      </p>
    </div>
    <main>
      {{ content_for_layout }}
    </main>
  </body>
</html>