.first-cell{
    flex-basis: 30%;
}
.second-cell{
    flex-basis: 15%;
}
.third-cell{
    flex-basis: 5%;
}
.last-header-cell{
    flex-basis: 20%;
}
.cart-container{
    gap:50px;
}
.tabuler-container{
    flex-basis: 65%;
}
.tabuler-header{
    padding-inline: 10px;
}
.tabuler-raw{
    border: 1px solid lightgrey;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}
.product-photo div:nth-child(2){
    align-self: center;
}
.cart-img{
    width: 80px;
    height: 80px;
}
.cart-img img{
    width: 100%;
    height: 100%;
}
.btn-qty{
    border: 1px solid black;
    width: fit-content;
    height: 36px;
}
.btn-qty button{
    background-color: white;
    color: black;
}

.btn-qty input{
    border: none;
    outline: none;
    width: 20px;
    text-align: center;
    -moz-appearance: textfield;

}
.btn-qty input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart__order-summary{
    flex-grow: 1;
    margin-top: 2%;
}

hr.black{
    border: 2px solid black
}
.cart__order-summary > div.display-flex, .cart__order-summary form label
{
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding-block: 10px;
}
.cart__order-summary button{
    width: 100%;
    margin-top: 10px;
}

@media  all and (max-width:800px) {
    .tabuler-container{
        flex-basis: 100%;
    }   
}
@media all and (max-width:500px){
    .btn-qty button{
        padding: 05px;
        height: 100%;
    }
    .btn-qty input{
        padding: 05px;
    } 
    .first-cell{
        flex-basis: 26%;
    }  
}